<?xml version="1.0"?>
<robot name="nms1" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- default argument -->
    <xacro:arg name="using_gazebo" default="false"/>

    <!-- wheel control config macro -->
    <xacro:macro name="wheel_control_config" params="wheel_name">
        <joint name="${wheel_name}">
            <command_interface name="position"/>
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <command_interface name="acceleration">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="acceleration"/>
        </joint>
    </xacro:macro>

    <!-- nms1 ros2_control macro -->
    <xacro:macro name="ros2_control">
        <ros2_control name="car_control_system" type="system">
            <xacro:if value="$(arg using_gazebo)">
                <hardware>
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg using_gazebo)">
            </xacro:unless>
            <xacro:wheel_control_config wheel_name="front_left_wheel_joint"/>
            <xacro:wheel_control_config wheel_name="front_right_wheel_joint"/>
            <xacro:wheel_control_config wheel_name="rear_left_wheel_joint"/>
            <xacro:wheel_control_config wheel_name="rear_right_wheel_joint"/>
        </ros2_control>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo>
                <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                    <parameters>$(find nturt_nms1_bringup)/config/nms1_controllers.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>
        <xacro:unless value="$(arg using_gazebo)">
        </xacro:unless>
    </xacro:macro>
</robot>
