<?xml version="1.0"?>
<robot name="nms1" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- default argument -->
    <xacro:arg name="using_gazebo" default="false"/>
    <xacro:arg name="using_fake_hardware" default="false"/>

    <!-- include macro from other files-->
    <xacro:include filename="$(find nturt_nms1_description)/urdf/properties.xacro"/>

    <!-- steering_wheel_control_config macro -->
    <xacro:macro name="steering_wheel_control_config" params="name">
        <joint name="${name}">
            <command_interface name="position">
                <param name="min">-${steering_limit}</param>
                <param name="max">${steering_limit}</param>
            </command_interface>
            <state_interface name="position"/>
            <param name="type">steering</param>
        </joint>
    </xacro:macro>

    <!-- drive_wheel_control_config macro -->
    <xacro:macro name="drive_wheel_control_config" params="name">
        <joint name="${name}">
            <command_interface name="velocity">
                <param name="min">-${max_speed}</param>
                <param name="max">${max_speed}</param>
            </command_interface>
            <state_interface name="velocity"/>
            <param name="type">drive</param>
        </joint>
    </xacro:macro>

    <!-- ros2_control macro -->
    <xacro:macro name="ros2_control">
        <ros2_control name="car_control_system" type="system">
            <hardware>
                <xacro:if value="$(arg using_gazebo)">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:unless value="$(arg using_gazebo)">
                    <xacro:if value="$(arg using_fake_hardware)">
                        <plugin>mock_components/GenericSystem</plugin>
                    </xacro:if>
                    <xacro:unless value="$(arg using_fake_hardware)">
                        <plugin>nms1_hardware/Nms1Hardware</plugin>
                        <param name="namespace">nms1</param>
                    </xacro:unless>
                </xacro:unless>
            </hardware>
            <xacro:steering_wheel_control_config name="front_left_wheel_steering_joint"/>
            <xacro:steering_wheel_control_config name="front_right_wheel_steering_joint"/>
            <xacro:drive_wheel_control_config name="rear_left_wheel_drive_joint"/>
            <xacro:drive_wheel_control_config name="rear_right_wheel_drive_joint"/>
        </ros2_control>
        <xacro:if value="$(arg using_gazebo)">
            <gazebo>
                <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                    <parameters>$(find nturt_nms1_bringup)/config/nms1_controllers.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>
        <xacro:unless value="$(arg using_gazebo)">
        </xacro:unless>
    </xacro:macro>
</robot>
